ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
li button{
    min-width: 120px;
    border: 1px solid #d8d8d8;
}
li:last-child button{
    margin-left: -10px;
}
li button.active{
    background-color: #3F51B5;
    z-index: 1;
    position: relative;
    color: #fff;
    border: 1px solid #3f51b5;
}
