.form-block{
    box-shadow: 0px 0px 10px 0px rgb(140 138 138 / 50%);
    padding: 1.5em 1.5em 1em;
    border-radius: .4em;
}
.inp-block {
    position: relative;
    margin-bottom: 1em;
}

input {
    width: 100%;
    box-sizing: border-box;
}

:focus {
    outline: none !important;
}

.inpStyle {
    border: 0;
    border: 1px solid #ccc;
    position: relative;
    background: transparent;
    border-radius: .4em;
    padding: .8em;
}

.inpStyle~.focus-bg:before,
.inpStyle~.focus-bg:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}

.inpStyle:focus~.focus-bg:before {
    transition: 0.3s;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

.inpStyle~.focus-bg:after {
    left: auto;
    right: 50%;
    top: auto;
    bottom: 50%;
}

.inpStyle:focus~.focus-bg:after {
    transition: 0.3s;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.btn-block button{
    width: 100%;
    background-color: #3F51B5;
    color: #fff;
    margin-top: 1rem;
}